{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            title is provided by inheriting templates
        {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'workoutinfo/normalize.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'workoutinfo/skeleton.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'workoutinfo/style.css' %}">
    {% block head %}{% endblock %}
</head>

<body>
<div class="container">
    <div class="status row">
        <div class="offset-by-eight four columns">
            <ul class="inline">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout_urlpattern' %}">
                        Log Out, {{ user.get_username }}</a></li>
                {% else %}
                    <li><a href="{% url 'login_urlpattern' %}">
                        Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <header class="row">
        <div class="offset-by-one ten columns">
            <h1>GymFlowX</h1>
            <h2>Fitness Management System</h2>
        </div>
    </header>
    <nav>
        <ul>
            {% if perms.workoutinfo.view_member %}
                <li>
                    <a href="{% url 'workoutinfo_member_list_urlpattern' %}">
                        Members</a></li>
            {% endif %}

            {% if perms.workoutinfo.view_trainer %}
                <li>
                    <a href="{% url 'workoutinfo_trainer_list_urlpattern' %}">
                        Trainers</a></li>
            {% endif %}

            {% if perms.workoutinfo.view_workoutplan %}
                <li>
                    <a href="{% url 'workoutinfo_workoutplan_list_urlpattern' %}">
                        Workout Plans</a></li>
            {% endif %}

            {% if perms.workoutinfo.view_workout %}
                <li>
                    <a href="{% url 'workoutinfo_workout_list_urlpattern' %}">
                    Workouts</a></li>
            {% endif %}

            {% if perms.workoutinfo.view_nutritionplan %}
                <li>
                    <a href="{% url 'workoutinfo_nutritionplan_list_urlpattern' %}">
                    Nutrition Plans</a></li>
            {% endif %}

            {% if perms.workoutinfo.view_membership %}
                <li>
                    <a href="{% url 'workoutinfo_membership_list_urlpattern' %}">
                        Memberships</a></li>
            {% endif %}

            {% if perms.workoutinfo.view_payment %}
                <li>
                    <a href="{% url 'workoutinfo_payment_list_urlpattern' %}">
                        Payments</a></li>
            {% endif %}
            <li>
                <a href="{% url 'about_urlpattern' %}">
                    About</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
            <div class="row">
                <section class="eight columns">
                    {% block org_content %}
                        This is default content!
                    {% endblock %}
                </section>
                <section class="desktop four columns">
                    {% block create_button %}{% endblock %}
                </section>
            </div>
            <div class="row">
                <div class="twelve columns">
                    {% block content_footer %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </main>
</div><!-- end of container -->
</body>
</html>

