{% extends 'workoutinfo/base.html' %}

{% block title %}
    Membership List
{% endblock %}

{% block create_button %}
    {% if perms.workoutinfo.add_membership %}
        <a href="{% url 'workoutinfo_membership_create_urlpattern' %}"
           class="button button-primary">
            Create New Membership</a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Membership List</h2>
    {% if perms.workoutinfo.add_membership %}
    <div class="mobile">
      <a href="{% url 'workoutinfo_membership_create_urlpattern' %}"
      class="button button-primary">
        Create New Membership</a>
    </div>
    {% endif %}

    <ul>
        {% for membership in membership_list %}
            <li>
                <a href="{{ membership.get_absolute_url }}">{{ membership }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no memberships available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}