{% extends 'workoutinfo/base.html' %}

{% block title %}
    Membership List
{% endblock %}

{% block content %}
    <h2>Membership List</h2>
    <div>
      <a href="{% url 'workoutinfo_membership_create_urlpattern' %}"
      class="button button-primary">
        Create New Membership</a>
    </div>
    <ul>
        {% for membership in membership_list %}
            <li>
                <a href="{{ membership.get_absolute_url }}">{{ membership }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no memberships available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}