{% extends 'workoutinfo/base.html' %}

{% block title %}
    Nutrition Plan - {{ nutritionplan }}
{% endblock %}

{% block content %}
    <h2>{{ nutritionplan }}</h2>
    <ul class="ezu-button-list">
        <li>
          <a href="{{ nutritionplan.get_update_url }}"
             class="button button-primary">
            Edit Nutrition Plan</a></li>
{#        <li>#}
{#          <a href="{{ nutrition.get_delete_url }}"#}
{#             class="button button-primary">#}
{#            Delete Registration</a></li>#}
    </ul>
    <section>
        <table>
            <tr>
                <th>Member:</th>
                    <td><a href="{{ member.get_absolute_url }}">{{ member }}</a></td>
            </tr>
            <tr>
                <th>Trainer:</th>
                <td><a href="{{ trainer.get_absolute_url }}">{{ trainer }}</a></td>
            </tr>
        </table>
    </section>

    <section>
        <table>
            <tr>
                <th>Nutrition Name:</th>
                <td>{{ nutritionplan.name }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{ nutritionplan.description }}</td>
            </tr>
            <tr>
                <th>Meal Timing:</th>
                <td>{{ nutritionplan.meal_timing }}</td>
            </tr>
        </table>
    </section>



{% endblock %}
