{% extends 'workoutinfo/base.html' %}

{% block title %}
    Nutrition Plan List
{% endblock %}

{% block create_button %}
    {% if perms.workoutinfo.add_nutritionplan %}
        <a href="{% url 'workoutinfo_nutritionplan_create_urlpattern' %}"
           class="button button-primary">
            Create New Nutrition Plan</a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Nutrition Plan List</h2>
    {% if perms.workoutinfo.add_nutritionplan %}
        <div class="mobile">
          <a href="{% url 'workoutinfo_nutritionplan_create_urlpattern' %}"
          class="button button-primary">
            Create New Nutrition Plan</a>
        </div>
    {% endif %}

    <ul>
        {% for nutritionplan in nutritionplan_list %}
            <li>
                <a href="{{ nutritionplan.get_absolute_url }}">{{ nutritionplan }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no nutrition plans available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}