{% extends 'workoutinfo/base.html' %}

{% block title %}
    Payment List
{% endblock %}

{% block content %}
    <h2>Payment List</h2>
    <div>
      <a href="{% url 'workoutinfo_payment_create_urlpattern' %}"
      class="button button-primary">
        Create New Payment</a>
    </div>
    <ul>
        {% for payment in payment_list %}
            <li>
                <a href="{{ payment.get_absolute_url }}">{{ payment }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no payments available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}