{% extends 'workoutinfo/base.html' %}

{% block title %}
    Trainer List
{% endblock %}

{% block create_button %}
    {% if perms.workoutinfo.add_trainer %}
        <a href="{% url 'workoutinfo_trainer_create_urlpattern' %}"
           class="button button-primary">
            Create New Trainer</a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Trainer List</h2>
    {% if perms.workoutinfo.add_trainer %}
        <div class="mobile">
      <a href="{% url 'workoutinfo_trainer_create_urlpattern' %}"
      class="button button-primary">
        Create New Trainer</a>
    </div>
    {% endif %}
    <ul>
        {% for trainer in trainer_list %}
            <li>
                <a href="{{ trainer.get_absolute_url }}">{{ trainer }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no trainers available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}