{% extends 'workoutinfo/base.html' %}

{% block title %}
    Workout - {{ workout }}
{% endblock %}

{% block content %}
    <h1>{{ workout }}</h1>
{#    <ul class="ezu-button-list">#}
{#        <li>#}
{#          <a href="{{ workout.get_update_url }}"#}
{#             class="button button-primary">#}
{#            Edit Workout</a></li>#}
{#        <li>#}
{#          <a href="{{ nutrition.get_delete_url }}"#}
{#             class="button button-primary">#}
{#            Delete Registration</a></li>#}
{#    </ul>#}
    <section>
        <table>
            <tr>
                <th>Member:</th>
                <td><a href="{{ member.get_absolute_url }}">{{ member }}</a></td>
            </tr>
            <tr>
                <th>Trainer:</th>
                <td><a href="{{ trainer.get_absolute_url }}">{{ trainer }}</a></td>
            </tr>
            <tr>
                <th>Workout Plan:</th>
                <td><a href="{{ workoutplan.get_absolute_url }}">{{ workoutplan }}</a></td>
            </tr>
        </table>
    </section>

    <section>
        <table>
            <tr>
                <th>Workout Date:</th>
                <td>{{ date }}</td>
            </tr>
            <tr>
                <th>Name:</th>
                <td>{{ name }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>{{ description }}</td>
            </tr>
            <tr>
                <th>Duration:</th>
                <td>{{ duration }}</td>
            </tr>
        </table>
    </section>



{% endblock %}
