{% extends 'workoutinfo/base.html' %}

{% block title %}
    Error Deleting Workout Plan
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Workout Plan</h2>
        <p>
            You may not delete workoutplan {{ workoutplan }}.  This
            workoutplan is currently associated with below information:
        </p>

        <ul>
            {% for workout in workout %}
            <li><a href="{{ workout.get_absolute_url }}">{{ workout }}</a></li>
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'workoutinfo_workoutplan_list_urlpattern' %}">Workout Plan List</a>.
        </p>
    </div>
{% endblock %}
