{% extends 'workoutinfo/base.html' %}

{% block title %}
    Workout Plan List
{% endblock %}

{% block create_button %}
    {% if perms.workoutinfo.add_workoutplan %}
        <a href="{% url 'workoutinfo_workoutplan_create_urlpattern' %}"
           class="button button-primary">
            Create New Workout Plan</a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Workout Plan List</h2>
    {% if perms.workoutinfo.add_workoutplan %}
        <div class="mobile">
          <a href="{% url 'workoutinfo_workoutplan_create_urlpattern' %}"
          class="button button-primary">
            Create New Workout Plan</a>
        </div>
    {% endif %}

    <ul>
        {% for workoutplan in workoutplan_list %}
            <li>
                <a href="{{ workoutplan.get_absolute_url }}">{{ workoutplan }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no workout plans available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}